{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    error page
{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2>Error!</h2>
        </div>
        <div class="panel-body">
            404 - sorry the requested resource could not be found
        </div>
    </div>
{% endblock %}