<!DOCTYPE html>
<html lang="en">
<head>
    <!-- GGG with the page title -->
    <title> GGG - {% block pageTitle %}{% endblock %}</title>

    <!-- Link to default bootstrap template and jquery -->
    <style>
        @import "/css/bootstrap.min.css";
    </style>

    <script src="/js/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/publications">Publications</a></li>
            </ul>

            </form>
            {% if (user is defined) and (user is not null) %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.name }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if (user.role == 1) or (user.role == 2) %}
                                <li><a href="/memberDetails/{{ user.id }}">View Profile</a></li>
                                <li><a href="/editMember/{{ user.id }}">Edit Profile</a></li>
                                <li><a href="/uploadPhoto/{{ user.id }}">Upload Photo</a></li>
                                <li role="separator" class="divider"></li>
                            {% endif %}
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <form class="nav navbar-form navbar-right" method="post" action="/login">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Login</button>
                    </div>
                </form>
            {% endif %}



        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<!-- Start of page content -->
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            {% block main %}
                {# This is where the main content of the page is displayed#}
            {% endblock %}

        </div>
        <div class="col-md-1"></div>
    </div>

    <footer>
        2016 &copy; Colin Forrester Development
    </footer>

</div>

    <!-- Script for bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

</body>
</html>