{% extends '_base.html.twig' %}


{% block pageTitle %} About Page {% endblock %}

{% block main %}

    <div class="panel panel-success">
        <div class="panel-heading">
            <h2> Welcome to The Graphics and Gaming Research Group</h2>
        </div>
        <div class="panel-body">
            This is the about page
        </div>
    </div>



{% endblock %}