{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    error page
{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2>Sorry, an error occurred</h2>
        </div>
        <div class="panel-body">
            {{ errorMessage }}
        </div>
    </div>
{% endblock %}