{% extends '_base.html.twig' %}


{% block pageTitle %} Home Page {% endblock %}

{% block main %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>Welcome to The Graphics and Gaming Research Group</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <img src="img/banner.png">
            </div>
            <div class="row">
                <p>This is the home page, from here you can navigate through our website by using the navigation bar
                    at the top of the page. Each of the title pages in the navbar will load a table for the requested
                    page, eg. Publications will load a page with a table of publications etc.
                </p>
                <p>There is a search option located in the navbar where you can search the website to find a publication
                    or a project related to keywords.
                </p>
                <p>If you would like to see 1 item per page simply click on the title of the project/publication or name
                    of the student/member to see more about them.
                </p>
            </div>
        </div>
    </div>

{% endblock %}