{% extends '_base.html.twig' %}


{% block pageTitle %} Login Page {% endblock %}

{% block main %}

    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>Welcome to The Graphics and Gaming Research Group</h2>
        </div>
        {% if logout is defined %}
            <div class="alert alert-primary">
                You have been successfully logged out!
            </div>
        {% elseif failed is defined %}
            <div class="alert alert-danger">
                You have entered the wrong details!
            </div>
        {% endif %}

        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4 pull-center">
                    <form class="form-signin" method="post" action="/processLogin">
                        <h2 class="form-signin-heading">Please log in to continue</h2>
                        <input type="text" name="username" class="form-control" placeholder="Username">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}