{% extends '_base.html.twig' %}


{% block pageTitle %} Members Page {% endblock %}

{% block main %}

    {% if delete is defined %}
        <div class="alert alert-warning">{{ delete.username }} has been deleted!</div>
    {% elseif new is defined %}
        <div class="alert alert-success">{{ new.username }} has been Added!</div>
    {% endif %}

    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>This is the Members page</h2>
        </div>
        <div class="panel-body">
    {% if user is not null %}
        {% if user.role == 3 %}
            <form class="nav navbar-form navbar-right" method="get" action="/addMember">
                <button type="submit" class="btn btn-success">Add new member</button>
            </form>
        {% endif %}
    {% endif %}

            <table class="table table-hover text-left">
            <th>Member ID</th>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Title</th>
            <th>Gender</th>
            <th>Photo URL</th>
            <th>Role</th>
            <th>Past</th>

            {% for member in members %}
                {% if member.role != 3 %}
                <tr>
                    <td>{{ member.id }}</td>
                    <td><a href="/memberDetails/{{ member.id }}">{{ member.username }}</td>
                    <td>{{ member.firstname }}</td>
                    <td>{{ member.lastname }}</td>
                    <td>{{ member.title }}</td>
                    <td>{{ member.gender }}</td>
                    <td>{{ member.photoUrl }}</td>
                    <td>{{ member.role }}</td>
                    <td>{{ member.past }}</td>
                </tr>
                {% endif %}
            {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}