{% extends '_base.html.twig' %}


{% block pageTitle %} Members Page {% endblock %}

{% block main %}

    {% if edited is defined %}
        <div class="alert alert-warning">{{ edited }} has been edited!</div>
    {% endif %}
    {% if past is defined %}
        <div class="alert alert-warning">{{ member.firstname }} has been changed to{% if member.past == 0 %} present {% else %} past {% endif %}member!</div>
    {% endif %}

    {% if edit is defined %}
        <form method="post" action="/processEditMember/{{ edit.id }}">
            <div class="panel panel-primary">
                <div class="panel-heading text-left">
                    <input type="text" class="form-control" name="title" value="{{ edit.title }}" placeholder="Title" style="font-size: x-large;width: 20%" required>
                    <input type="text" class="form-control" name="firstname" value="{{ edit.firstname }}" placeholder="Firstname" style="font-size: x-large; width: 40%" required>
                    <input type="text" class="form-control" name="lastname" value="{{ edit.lastname }}" placeholder="Lastname" style="font-size: x-large; width: 40%" required>
                </div>
                <div class="panel-body panel-primary text-left">
                    <div class="col-lg-4">
                        ID: {{ edit.id }}<br>
                        {% if edit.role == 1  %}
                            Student Number: {{ edit.studentNumber }}
                        {% endif %}
                        Photo Url: {{ edit.photoUrl }} <br>
                        Username: <input type="text" class="form-control" name="username" value="{{ edit.username }}" placeholder="Username" style="margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        Gender: <input type="text" class="form-control" name="gender" value="{{ edit.gender }}" placeholder="Gender" style="margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        Past: <input type="text" class="form-control" name="past" value="{{ edit.past }}" placeholder="Past" style="margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                    </div>
                </div>
                <div class="panel-footer panel-primary">

                    <button type="submit" class="btn btn-default">Change</button>
                </div>
            </div>
        </form>
    {% elseif add is defined %}
        <form method="post" action="/insertMember">
            <div class="panel panel-primary">
                <div class="panel-heading text-left">
                    <input type="text" class="form-control" name="title" placeholder="Title" style="font-size: x-large;width: 20%" required>
                    <input type="text" class="form-control" name="firstname" placeholder="Firstname" style="font-size: x-large; width: 40%" required>
                    <input type="text" class="form-control" name="lastname" placeholder="Lastname" style="font-size: x-large; width: 40%" required>
                </div>
                <div class="panel-body panel-primary text-left">
                    <div class="col-lg-4">
                        ID: Auto generated.<br>
                        Photo Url: <input type="text" class="form-control" name="photoUrl" placeholder="Photo Url" style="margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        Username: <input type="text" class="form-control" name="username" placeholder="Username" style="margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        Gender: <input type="text" class="form-control" name="gender" placeholder="Gender" style="margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        Past: <input type="text" class="form-control" name="past" placeholder="Past" style="margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                    </div>
                </div>
                <div class="panel-footer panel-primary">
                    <button type="submit" class="btn btn-success">Add new Member</button>
                </div>
            </div>
        </form>
    {% else %}
        <div class="panel panel-primary">
            <div class="panel-heading text-left">
                <h2>{{ member.title }} {{ member.firstname }} {{ member.lastname }}</h2>
            </div>
            <div class="panel-body panel-primary text-left">
                <div class="col-lg-4"><img src="/img/{{ member.photoUrl }}" class="img-rounded" alt="{{ member.username }}'s Profile Picture" width="200" height="200"></div>
                <div class="col-lg-6">
                    Member ID: {{ member.id }}<br>
                    Gender: {{ member.gender }}<br>
                    {% if member.past == 0 %}
                        Active member
                    {% else %}
                        Past member
                    {% endif %}<br>
                    {% if member.role == 1  %}
                        Student Number: {{ member.studentNumber }}
                    {% endif %}
                </div>
            </div>
            {% if user != null %}
            <div class="panel-footer panel-primary clearfix">
                {% if user.id == member.id %}
                    <form class="nav navbar-form navbar-right" method="get" action="/editMember/{{ member.id }}">
                        <button type="submit" class="btn btn-default">Edit</button>
                    </form>
                {% elseif user.role == 3%}
                    {% if member.past == 0 %}
                        <form class="nav navbar-form navbar-right" method="get" action="/pastMember/{{ member.id }}">
                            <button type="submit" class="btn btn-success">Past</button>
                        </form>
                    {% else %}
                        <form class="nav navbar-form navbar-right" method="get" action="/presentMember/{{ member.id }}">
                            <button type="submit" class="btn btn-success">Present</button>
                        </form>
                    {% endif %}

                    <form class="nav navbar-form navbar-right" method="get" action="/editMember/{{ member.id }}">
                        <button type="submit" class="btn btn-default">Edit</button>
                    </form>
                    <form class="nav navbar-form navbar-right" method="get" action="/deleteMember/{{ member.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                {% endif %}
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}