{% extends '_base.html.twig' %}


{% block pageTitle %} Project Page {% endblock %}

{% block main %}

    {% if edited is defined %}
        <div class="alert alert-warning">{{ edited }} has been edited!</div>
    {% endif %}
    {% if past is defined %}
        <div class="alert alert-warning">{{ project.title }} has been changed to{% if project.past == 0 %} present {% else %} past {% endif %}project!</div>
    {% endif %}


    {% if edit is defined %}
        <form method="post" action="/processEditProject/{{ edit.id }}">
            <div class="panel panel-default">
                <div class="panel-heading text-left">
                    <input type="text" class="form-control" name="title" value="{{ edit.title }}" placeholder="Title" required>
                </div>
                <div class="panel-body text-left">
                    <div class="col-lg-4">
                        ID: {{ edit.id }}<input type="hidden" name="id" value="{{ edit.id }}"><br>
                        Creator ID: {{ edit.creatorId }}<input type="hidden" name="creatorId" value="{{ edit.creatorId }}"><br>
                        Description: <input type="text" class="form-control" name="description" value="{{ edit.description }}" placeholder="Description" style="font-size: x-large; margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        File Link: <input type="text" class="form-control" name="fileLink" value="{{ edit.fileLink }}" placeholder="File link" style="font-size: x-large; margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        Image Path: <input type="text" class="form-control" name="imgPath" value="{{ edit.imgPath }}" placeholder="Image Path" style="font-size: x-large; margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        Past: <input type="text" class="form-control" name="past" value="{{ edit.past }}" placeholder="Past" style="font-size: x-large; margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        Upload time: <input type="text" class="form-control" name="uploadTime" value="{{ edit.uploadTime }}" placeholder="Upload time" style="font-size: x-large; margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-default">Change</button>
                </div>
            </div>
        </form>
    {% else %}
        <div class="panel panel-primary">
            <div class="panel-heading text-left">
                {{ project.title }}
            </div>
            <div class="panel-body panel-primary text-left">
                <div class="col-lg-4"></div>
                <div class="col-lg-6">
                    Project ID: {{ project.id }}<br>
                    Creator ID: {{ project.creatorId }}<br>
                    Description: {{ project.description }}<br>
                    Upload time: {{ project.uploadTime }}<br>
                    <a href="{{ project.fileLink }}" download > Download </a><br>
                    Img Path: {{ project.imgPath }}<br>
                    Past:
                    {% if project.past == 0 %}
                        No
                    {% else %}
                        Yes
                    {% endif %}<br>
                </div>
            </div>
            {% if user is defined %}
                <div class="panel-footer panel-primary clearfix">
                {% if user is not null %}
                    {% if user.id == project.creatorId %}
                        <form class="nav navbar-form navbar-right" method="get" action="/editProject/{{ project.id }}">
                            <button type="submit" class="btn btn-default">Edit</button>
                        </form>
                    {% endif %}
                    {% if user.role == 3%}
                        <form class="nav navbar-form navbar-right" method="get" action="/pastProject/{{ project.id }}">
                            <button type="submit" class="btn btn-success">{% if project.past == 0 %}Past{% else %}Present{% endif %}</button>
                        </form>
                        <form class="nav navbar-form navbar-right" method="get" action="/editProject/{{ project.id }}">
                            <button type="submit" class="btn btn-default">Edit</button>
                        </form>
                        <form class="nav navbar-form navbar-right" method="get" action="/deleteProject/{{ project.id }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    {% endif %}
                {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}