{% extends '_base.html.twig' %}


{% block pageTitle %} Project Page {% endblock %}

{% block main %}

    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>This is the Publications page</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>File Link</th>
                <th>Uploaded</th>
                <th>Past</th>

                {% for project in projects %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td><a href="/projectDetails/{{ project.id }}">{{ project.title }}</a></td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.fileLink }}</td>
                        <td>{{ project.uploadTime }}</td>
                        <td>{{ project.past }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>



{% endblock %}