{% extends '_base.html.twig' %}


{% block pageTitle %} Publications Page {% endblock %}

{% block main %}

    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>This is the Publications page</h2>
        </div>
        <div class="panel-body">
        {% if user is not null %}
            {% if (user.role == 3) or (user.role == 2) %}
                <form class="nav navbar-form navbar-right" method="get" action="/addPublication">
                    <button type="submit" class="btn btn-success">Add new Publication</button>
                </form>
            {% endif %}
        {% endif %}
            <table class="table table-hover">
                <th>ID</th>
                <th>Title</th>
                <th>Catagory</th>
                <th>Description</th>
                <th>Uploaded</th>

                {% for publication in publications %}
                    <tr>
                        <td>{{ publication.id }}</td>
                        <td><a href="/publicationDetails/{{ publication.id }}">{{ publication.title }}</a></td>
                        <td>{{ publication.catagory }}</td>
                        <td>{{ publication.description }}</td>
                        <td>{{ publication.uploaded }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>



{% endblock %}