{% extends '_base.html.twig' %}


{% block pageTitle %} Publications Page {% endblock %}

{% block main %}
    {% if edited is defined %}
        <div class="alert alert-warning">{{ edited }} has been edited!</div>
    {% endif %}

    {% if edit is defined %}
        <form method="post" action="/processEditPublication/{{ edit.id }}">
            <div class="panel panel-primary">
                <div class="panel-heading text-left">
                    <input type="text" class="form-control" name="title" value="{{ edit.title }}" placeholder="Title" required>
                </div>
                <div class="panel-body text-left">
                    <div class="col-lg-4">
                        ID: {{ edit.id }}<br>
                        Catagory: <input type="text" class="form-control" name="catagory" value="{{ edit.catagory }}" placeholder="Catagory" style="font-size: x-large; margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        Description: <input type="textarea" class="form-control" name="description" value="{{ edit.description }}" placeholder="Description" style="font-size: x-large; margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        File Link: <input type="textarea" class="form-control" name="fileLink" value="{{ edit.fileLink }}" placeholder="File link" style="font-size: x-large; margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        Upload time: <input type="text" class="form-control" name="uploaded" value="{{ edit.uploaded }}" placeholder="Upload time" style="font-size: x-large; margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-default">Change</button>
                </div>
            </div>
        </form>
    {% elseif add is defined %}
        <form method="post" action="/insertPublication">
            <div class="panel panel-primary">
                <div class="panel-heading text-left">
                    <input type="text" class="form-control" name="title"placeholder="Title" required>
                </div>
                <div class="panel-body panel-primary text-left">
                    <div class="col-lg-4">
                        ID: Auto generated.<br>
                        Catagory: <input type="text" class="form-control" name="catagory" placeholder="Catagory" style="font-size: x-large; margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        Description: <input type="textarea" class="form-control" name="description" placeholder="Description" style="font-size: x-large; margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                        File Link: <input type="textarea" class="form-control" name="fileLink" placeholder="File link" style="font-size: x-large; margin-bottom: -20px; padding: 20px 0 20px 10px;" required><br>
                    </div>
                </div>
                <div class="panel-footer panel-primary">
                    <button type="submit" class="btn btn-success">Add new Publication</button>
                </div>
            </div>
        </form>
    {% else %}
        <div class="panel panel-primary">
            <div class="panel-heading text-left">
                {{ publication.title }}
            </div>
            <div class="panel-body panel-primarytext-left">
                <div class="col-lg-4">
                    Publication ID: {{ publication.id }}<br>
                    Category: {{ publication.catagory }}<br>
                    UploadTime: {{ publication.uploaded }}
                </div>
                <div class="col-lg-6">
                    Description: {{ publication.description }}<br>
                    <a href="{{ publication.fileLink }}" download > Download </a>
                </div>
            </div>
            {% if user is not null %}
                <div class="panel-footer panel-primary clearfix">
                {% if (user.role == 3) or (user.role == 2)%}
                    <form class="nav navbar-form navbar-right" method="get" action="/addPublication">
                        <button type="submit" class="btn btn-success">New</button>
                    </form>
                    <form class="nav navbar-form navbar-right" method="get" action="/editPublication/{{ publication.id }}">
                        <button type="submit" class="btn btn-default">Edit</button>
                    </form>
                    <form class="nav navbar-form navbar-right" method="get" action="/deletePublication/{{ publication.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}